body {
    margin: 0rem;
    padding: 0rem;
    background-color: white;
    background-image: linear-gradient(to top left, #ECF1F2,  white);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
    overflow: hidden;
    z-index: -2;
}

div {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: absolute;
    padding: 2.25rem;
    padding-left: 4rem;
    z-index: 3;
    transition: 0.2s;
    bottom: 0;
}

header p {
    margin: 0.5rem 0rem 0.75rem 0.2rem;
}

main {
    justify-items: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.navBtnList {
    display: flex;
    padding: 1rem 0rem 0rem 0rem;
    gap: 1.25rem;
    z-index: 3;
}

.navBtn {
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 1rem;
    padding: 0.95rem 1.5rem 0.95rem 1.5rem; /*reduced due to border*/
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgb(0, 0, 0) 100%);
    background-color: black;
    border: 0.085rem solid transparent;
    border-radius: 4rem;
    background-clip: padding-box;
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
    order: 0;
    cursor: pointer;
    transition: 0.3s;
}

#navBtnMenu {
    display: none;
    justify-items: end;
    margin-right: 0.75rem;
}

#navBtnMenu > div {
    display: flex;
    border-radius: 50rem;
    background-color: #0F1619;
    width: 3rem;
    height: 3rem;
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

#navBtnMenu > div:active {
    background-color: white;
}

#navBtnMenu > div:active > svg > path {
    stroke: black;
}

.navBtn:hover {
    position: relative;
    color: black;
    background-image: linear-gradient(to bottom, #f7f8f825 0%, #F7F8F8 100%);
    background-color: #F7F8F8;
    /*box-shadow: inset 0 0 0 1.25px black;*/
    border: 0.05rem solid transparent;
    transition: 0.3s;
}

.navBtn:hover::after { /*creating the gradient border*/
    position: absolute;
    top: -0.05rem; bottom: -0.065rem;
    left: -0.05rem; right: -0.05rem;
    background: linear-gradient(to bottom, #00000000 30%, black);
    content: '';
    z-index: -1;
    border-radius: 4rem;
} /*https://stackoverflow.com/questions/5706963/possible-to-use-border-radius-together-with-a-border-image-which-has-a-gradient*/

.navBtn:active {
    background-image: none;
    background-color: var(--teal-light);
    transition: 0s;
}

.navBtn:active::after { /*creating the gradient border*/
    position: absolute;
    top: -0.085rem; bottom: -0.1rem;
    left: -0.085rem; right: -0.085rem;
    background: var(--teal-light);
    content: '';
    z-index: -1;
    border-radius: 4rem;
}

#projectSection {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#projectImgSection {
    position: relative;
    display: flex;
    height: calc(100% + 3rem);
    bottom: 3rem;
    flex: 3;
}

#nameSquare {
    flex: 1;
}

#projectImgSection img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    z-index: 0;
}

#projectImg {
    overflow: hidden;
    height: 100%;
    background-color: black;
}

@keyframes imgFromBottom {
    0% {
        transform: translateX(-50vw);
    }
    100% {
        transform: translateX(0rem);
    }
}

@keyframes imgBlackFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#projectImg img.animate {
    opacity: 0;
    animation: imgBlackFade 0.4s ease-out forwards;
}

#projectTags {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    overflow: hidden;
    margin-left: 0.75rem;
    writing-mode: vertical-rl;
    min-width: 2rem;
}

#projectTags p:first-child {
  /* your styles */
  writing-mode: horizontal-tb;
  position: absolute;
  top: -3.75rem;
  right: 0;
}

#projectTags p {
    text-align: center;
    font-weight: 500;
    color: black;
    margin: 1.25rem 0rem 1.25rem 0rem;
    padding: 0rem;
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

/*To stagger the animation*/
#projectTags p.animate:nth-child(1) { animation-delay: 0.1s; }
#projectTags p.animate:nth-child(2) { animation-delay: 0.0s; }
#projectTags p.animate:nth-child(3) { animation-delay: 0.1s; }

#projectTags p.animate {
    opacity: 0; /* Hidden before animation starts */
    animation: fadeInSlideRight 0.4s ease forwards; /* forwards keeps final state */
}

#projectTags p.animate:nth-child(1) {
    opacity: 0; /* Hidden before animation starts */
    animation: fadeInSlideUp 0.4s ease forwards !important; /* forwards keeps final state */
}

#projectText {
    width: min-content;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    flex: 2;
    margin: 2rem 0rem 0rem 0rem;
}

#projectDescription {
    height: fit-content;
}

#projectTitle, #projectDescription * {
    color: black;
}

#projectTitle {
    position: relative;
    left: 0.5rem;
    height: 7.4rem; /* notice second title top: */
}

@keyframes blurIn {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    10% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

#projectTitle #titleFirst.animate {
    opacity: 0;
    animation: blurIn 0.5s ease-in forwards;
}

#projectTitle #titleSecond.animate {
    opacity: 0;
    animation: blurIn 0.5s ease-in forwards;
}

#projectTitle h2 {
    width: max-content;
    color: #323232;
    font-size: 6.25rem;
    font-weight: 400;
    -webkit-text-stroke: 0.1rem #323232; /* width + stroke color */
    transform: scaleX(1.05);
    letter-spacing: 0.25rem;
}

#projectTitle #titleSecond {
    position: absolute;
    font-size: 6.25rem;
    top: 0;
    opacity: 0.5;
    transform: scaleX(1.05);
    z-index: 1;
    letter-spacing: 0.25rem;
}

#projectDescription {
    z-index: 1;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    border-radius: 0.75rem 0rem 0rem 0rem;
    margin-left: 4rem;
    max-width: 20rem;
}

#projectDescription p {
    margin: 0rem;
}

#goToProjectBtn {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    color: black;
    margin-left: 3rem;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    width: fit-content;
    border-style: none;
}

#goToProjectBtn p {
    margin: 0rem;
    width: max-content;
}

#goToProjectBtn:hover {
    border-radius: 0rem 0rem 0rem 1.75rem !important;
}

@keyframes arrowBounce {
    0% {
        transform: translateX(-0.25rem);
    }
    25% {
        transform: translateX(1rem);
    }
    50% {
        transform: translateX(-0.25rem);
    }
    75% {
        transform: translateX(0.5rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

#goToProjectArrow:hover {
    transform: translateX(0rem); /* Hidden before animation starts */
    animation: arrowBounce 0.6s ease-in-out; /* forwards keeps final state */
}

#goToProjectArrow.animate {
    transform: translateX(0rem); /* Hidden before animation starts */
    animation: arrowBounce 0.6s ease-in-out; /* forwards keeps final state */
}

#otherProjects {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.45rem;
    margin: 2rem 0rem 2rem 4rem;
    border-radius: 20rem;
    background-color: #FDFDFD;
    border: 1px solid #D3D3D3;
    z-index: 2;
    overflow: hidden;
    min-height: 2rem;
}

#otherProjectsMarker {
    order: 0;
}

@keyframes markerAnimate {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#otherProjectsMarker.animate {
    opacity: 0;
    animation: markerAnimate 0.3s ease-in forwards;
}

#otherProjectsCircle {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #d5d0cc; /* 393D41 */
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none; /* allows cursor to interact with container */
    transition: transform 0.2s ease;
    z-index: 3;
    mix-blend-mode: difference;
}

.otherProjectBtn {
    /* This section calls the slideInFromLeft animation we defined above */
    text-align: right;
    font-family: 'Libre Baskerville';
    font-weight: 500;
    -webkit-text-stroke: 0.015rem;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 60rem;
    border: none;
    width: max-content;
    z-index: 2;
    color: black;
    transition: 0.3s;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
}

@keyframes blurInSmall {
    0% {
        opacity: 0;
        filter: blur(5px);
    }
    10% {
        opacity: 0;
        filter: blur(5px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

.otherProjectBtn.animate {
    opacity: 0;
    animation: blurInSmall 0.3s ease-in forwards;
}

.otherProjectBtn:hover {
    cursor:pointer;
}

#leftSection {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#rightSection {
    display: flex;
    flex: 1;
    align-items: end;
}

#nameSquare {
    border: 0.05rem solid #668D93;
    margin: 2rem 2rem 2.25rem 2rem;
    padding: 2rem;
    height: fit-content;
}

#nameSquare h1 {
    font-size: 5rem;
    line-height: 1;
}

#nameSquare p {
    font-weight: 600;
    padding-left: 0.5rem;
}

#nameSquare * {
    color: #668D93;
}

@media (max-width: 625px) {
    body {
        overflow-x: scroll;
        scrollbar-width: none;
    }

    main {
        flex-direction: column;
        align-items: center;
        margin: 0;
        overflow-x: hidden;
    }

    header {
        top: 0;
        right: 0;
        justify-content: right;
    }

    header h1 {
        font-size: 2rem;
    }

    header p{
        padding-right: 1rem;
    }

    @keyframes navBtnListAnim {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /*Opened when the hamburger menu is selected*/
    .navBtnList {
        display: none;
        right: 0;
        top: 0;
        gap: 2.5vh;
        position: absolute;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        padding-top: 20vh;
        width: calc(100vw - 8rem);
        height: 100vh;
        background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.95) 50%, rgba(255, 255, 255, 0) 100%);
        transition: 0.3s;
    }

    .navBtnList.animate {
        animation: navBtnListAnim 0.4s ease forwards; /* forwards keeps final state */
    }

    .navBtnList button {
        width: fit-content;
        padding: 1.165rem 1.915rem 1.165rem 1.915rem;
    }

    div .navBtnList {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0rem 0rem 0rem 0rem;
    }

    div .navBtn {
        margin: 0.35rem 0.5rem 0.35rem 0.5rem;
    }

    @keyframes navBtnMenuAnim {
        0% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    #navBtnMenu {
        height: fit-content;
        width: fit-content;
        z-index: 3;
        display: block;
        transition: 0.3s;
    }

    #navBtnMenu.animate svg {
        animation: navBtnMenuAnim 0.4s ease forwards; /* forwards keeps final state */
    }

    #rightSection {
        order: 0;
    }

    #leftSection {
        order: 1;
        align-self: flex-start;
        width: 100%;
        height: fit-content;
    }
    
    #leftSection #otherProjectsDiv {
        width: 100vw;
        overflow-x: scroll;
        scrollbar-width: none;
        margin-bottom: 2rem;
        height: 100%;
    }

    #nameSquare {
        margin: 2rem;
        margin-bottom: 4rem;
        padding: 2rem 2rem 1rem 2rem;
    }

    #nameSquare h1 {
        font-size: 4rem;
    }

    #navBtnMenu {
        margin: 0;
    }

    #projectSection {
        flex-direction: column;
    }

    #projectText {
        order: 1;
    }

    #projectImgSection {
        order: 0;
        flex-direction: column;
        bottom: 2.75rem;
    }

    #projectTags {
        writing-mode: horizontal-tb;
        margin: 0rem;
    }

    #projectTags p:first-child {
        position: relative;
        top: 0;
    }

    #projectText {
        margin: 0rem 2rem 6rem 2rem;
        width: 100%;
    }

    #projectDescription {
        margin: 0rem;
    }

    #goToProjectBtn {
        margin-left: 0px;
        padding-left: 0px;
    }

    #otherProjects {
        gap: 1rem;
        margin: 0rem 1.75rem 0rem 1.75rem;
        width: fit-content;
        transition: 0.3s;
    }

    #projectTitle {
        max-width: 32rem;
        height: fit-content;
        left: 0;
        align-self: center;
    }

    #projectTitle h2 {
        width: 100%;
        font-size: 20vw;
        text-align: center;
        line-height: 115%;
    }

    #projectTitle #titleSecond {
        font-size: 20vw;
    }
}

@media (min-width: 626px) and (max-width: 1300px) { /* Tablet size and when rem font size changes*/
    body {
        overflow-y: scroll;
        scrollbar-width: none;
        min-height: 60rem;
    }

    main {
        flex-direction: column;
        height: 100%;
    }

    header {
        top: 0;
        right: 0;
    }

    #rightSection {
        order: 0;
        width: 65%;
        max-width: 40rem;
        min-width: 20rem;
    }

    #leftSection {
        order: 1;
        overflow-y: hidden;
    }

    #nameSquare {
        margin: 3.5rem 2.5rem 2rem 4rem;
    }

    #nameSquare p {
        margin-bottom: 0.5rem;
    }

    #projectTitle {
        margin-right: 8.5rem;
        height: fit-content;
    }

    #projectTitle h2 {
        max-width: 100%;
    }
}