body {
    margin: 0rem;
    padding: 0rem;
    background-color: white;
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 1),  rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.45)), url('./resources/background_image.webp');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
    overflow: hidden;
    z-index: -2;
}

div {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: absolute;
    padding: 2.25rem;
    padding-left: 4rem;
    z-index: 3;
    transition: 0.2s;
}

header p {
    margin: 0.5rem 0rem 0.75rem 0.2rem;
}

main {
    height: calc(100% - 8rem);
    width: calc(100% - 12rem);
    margin: 4rem;
    align-items: end;
    justify-items: center;
    display: flex;
    flex-direction: row;
}

.navBtnList {
    display: flex;
    padding: 1rem 0rem 0rem 0rem;
    gap: 1.25rem;
    z-index: 3;
}

.navBtn {
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 1rem;
    padding: 0.95rem 1.5rem 0.95rem 1.5rem; /*reduced due to border*/
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgb(0, 0, 0) 100%);
    background-color: black;
    border: 0.085rem solid transparent;
    border-radius: 4rem;
    background-clip: padding-box;
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
    order: 0;
    cursor: pointer;
    transition: 0.3s;
}

#navBtnMenu {
    display: none;
    justify-items: end;
    margin-right: 0.75rem;
}

#navBtnMenu > div {
    display: flex;
    border-radius: 50rem;
    background-color: #0F1619;
    width: 3rem;
    height: 3rem;
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

#navBtnMenu > div:active {
    background-color: white;
}

#navBtnMenu > div:active > svg > path{
    stroke: black;
}

.navBtn:hover, #goToProjectBtn:hover {
    position: relative;
    color: black;
    background-image: linear-gradient(to bottom, #f7f8f825 0%, #F7F8F8 100%);
    background-color: #F7F8F8;
    /*box-shadow: inset 0 0 0 1.25px black;*/
    border: 0.05rem solid transparent;
    transition: 0.3s;
}

.navBtn:hover::after, #goToProjectBtn:hover::after { /*creating the gradient border*/
    position: absolute;
    top: -0.05rem; bottom: -0.065rem;
    left: -0.05rem; right: -0.05rem;
    background: linear-gradient(to bottom, #00000000 30%, black);
    content: '';
    z-index: -1;
    border-radius: 4rem;
} /*https://stackoverflow.com/questions/5706963/possible-to-use-border-radius-together-with-a-border-image-which-has-a-gradient*/

.navBtn:active, #goToProjectBtn:active {
    background-image: none;
    background-color: var(--teal-light);
    transition: 0s;
}

.navBtn:active::after, #goToProjectBtn:active::after { /*creating the gradient border*/
    position: absolute;
    top: -0.085rem; bottom: -0.1rem;
    left: -0.085rem; right: -0.085rem;
    background: var(--teal-light);
    content: '';
    z-index: -1;
    border-radius: 4rem;
}

#projectSection {
    width: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#projectImgSection {
    width: calc(100% - 13rem);
    display: flex;
    justify-content: end;
    position: relative;
    top: 0rem;
    right: 13rem;
}

#projectImgSection img {
    border-radius: 0rem 0rem 0.75rem 0rem;
    object-fit: cover;
    aspect-ratio: 5/4;
    width: 100%;
    height: 100%;
    flex: 1;
}

#projectImg {
    flex: 1.5;
    overflow: hidden;
}

@keyframes imgFromBottom {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0rem);
  }
}

#projectImg img.animate {
    animation: imgFromBottom 0.4s ease forwards; /* forwards keeps final state */
}

#projectTags {
    z-index: 1;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-self: self-end;
    flex: 1;
    justify-content: space-around;
    overflow: hidden;
    padding-bottom: 0.75rem;
}

#projectTags * {
    text-align: center;
    color: var(--teal-dark);
    margin-bottom: 0rem;
}

@keyframes tagsAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*To stagger the animation*/
#projectTags p.animate:nth-child(1) { animation-delay: 0.2s; }
#projectTags p.animate:nth-child(2) { animation-delay: 0.0s; }
#projectTags p.animate:nth-child(3) { animation-delay: 0.1s; }

#projectTags p.animate {
    opacity: 0; /* Hidden before animation starts */
    animation: tagsAnim 0.4s ease forwards; /* forwards keeps final state */
}

#projectText {
    width: min-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 2;
    bottom: -9.25rem;
}

#projectTitle, #projectDescription {
    padding: 2rem;
    height: fit-content;
}

#projectTitle, #projectDescription * {
    color: white;
}

#projectTitle {
    padding-bottom: 1rem;
    border-radius: 0rem 2rem 0rem 0.75rem;
    background-image: linear-gradient(to top right, rgb(15, 22, 25, 1) 45%, rgba(15, 22, 25, 0.65) 90%);
}

@keyframes titleUp {
    0% {
        opacity: 0;
        transform: translateY(2.5rem);
    }
    65% {
        opacity: 0;
        transform: translateY(2.5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

#projectTitle.animate {
    opacity: 0;
    animation: titleUp 0.6s ease-in forwards;
}

#projectTitle h2 {
    min-width: 16rem;
    width: max-content;
}

#projectDescription {
    background-color: #0F1619;
    z-index: 1;
    height: 5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    border-radius: 0.75rem 0rem 0rem 0rem;
    /*border-top: 1px solid transparent;*/
    /*border-image: linear-gradient(to right, rgba(255,255,255, 1), rgba(255,255,255,0) 75%) 1;*/
}

#projectDescription p {
    margin: 0.25rem;
}

#goToProjectBtn {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    padding: 0.8rem 1.915rem 1.165rem 1.915rem;
    background-image: linear-gradient(to bottom, #cfdfe300 0%, rgba(0, 0, 0, 0.5) 70%);
    background-color: #0F1619;
    color: white;
    width: 100%;
    border-radius: 0rem 0rem 0rem 2rem;
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
    border: 0.05rem solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

#goToProjectBtn p {
    margin: 0rem;
    width: max-content;
}

#goToProjectBtn:hover svg path {
    stroke: #0F1619 !important;
}

#goToProjectBtn:hover {
    border-radius: 0rem 0rem 0rem 1.75rem !important;
}

#projectLines1 {
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: inline-flex;
    justify-content: end;
    align-items: end;
}
 
#projectLines1::after {
  content: "";
  background: black;
  position: relative;
}

/* Vertical line */
#projectLines1::after {
  right: 6rem;               /* center horizontally */
  top: 0;
  height: 100%;
  width: 1px;              /* thickness of vertical line */
}

#projectLines1 svg {
    position: absolute;
    top: 45vh;
    right: calc(6rem - 18px); /* Proejct Line from Right + half the width of the arrow */
}

#projectLines2 {
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: inline-flex;
    justify-content: end;
    align-items: end;
}

/* Horizontal line */
#projectLines2::after {             /* center vertically */
    right: -10rem;
    width: 25%;
    height: 100%;             /* thickness of horizontal line */
    top: 6rem;
    content: "";
    border-top: 1px solid black;
    position: relative;
}

#projectLines3 {
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: inline-flex;
    justify-content: end;
    align-items: end;
}

#projectLines3::after {
    right: 2rem;
    width: 100%;
    height: 100%;             /* thickness of horizontal line */
    top: -100%;
    content: "";
    border-left: 1px solid black;
    position: relative;            /* thickness of vertical line */
}

#projectLines4 {
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: inline-flex;
    justify-content: start;
    align-items: start;
    aspect-ratio: 5 / 4;
}

#projectLines4::after {
    width: 100%;
    height: 100%;
    content: "";
    border-left: 1px solid black;
    position: relative;     
}

#projectLines5 {
    z-index: 1;
    width: 100vw;
    height: 100%;
    position: absolute;
    display: inline-flex;
    justify-content: start;
    align-items: start;
    aspect-ratio: 5 / 4;
}

#projectLines5::after {
    right: 0.75rem;
    width: 100%;
    height: 100%;             /* thickness of horizontal line */
    content: "";
    border-bottom: 1px solid black;
    position: relative;            /* thickness of vertical line */
}

#otherProjects {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    right: 0;
    bottom: 0;
    margin: 4rem;
    z-index: 2;
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.otherProjectBtn {
    /* This section calls the slideInFromLeft animation we defined above */
    text-align: right;
    padding: 1.165rem 1.915rem 1.165rem 1.915rem; /*reduced due to border*/
    background-color: #F7F8F8;
    border-radius: 60rem;
    border: 0.5px solid #0F1619;
    width: max-content;
    z-index: 2;
    align-self: flex-end;
    color: black;
    transition: 0.3s;
}

.otherProjectBtn.animate {
    opacity: 0; /* Hidden before animation starts */
    animation: fadeInSlideRight 0.4s ease forwards; /* forwards keeps final state */
}

/*To stagger the animation*/
.otherProjectBtn:nth-child(1) { animation-delay: 0s; }
.otherProjectBtn:nth-child(2) { animation-delay: 0.15s; }
.otherProjectBtn:nth-child(3) { animation-delay: 0.25s; }
.otherProjectBtn:nth-child(4) { animation-delay: 0.35s; }

.otherProjectBtn:hover {
    color: white;
    background-color: black;
    transition: 0.3s;
}

@media (max-width: 625px) {
    body {
        overflow-x: scroll;
        scrollbar-width: none;
    }

    main {
        height: calc(100% - 4rem);
        width: calc(100% - 4rem);
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        margin: 0;
        overflow-x: hidden;
    }

    header {
        width: calc(100% - 4rem);
        padding: 4rem 2rem 2rem 2rem;
        flex-direction: row;
        justify-content: space-between;
    }

    header h1 {
        font-size: 2rem;
    }

    header p{
        padding-right: 1rem;
    }

    @keyframes navBtnListAnim {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /*Opened when the hamburger menu is selected*/
    .navBtnList {
        display: none;
        right: 0;
        top: 0;
        gap: 2.5vh;
        position: absolute;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        padding-top: 20vh;
        width: calc(100vw - 8rem);
        height: 100vh;
        background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.95) 50%, rgba(255, 255, 255, 0) 100%);
        transition: 0.3s;
    }

    .navBtnList.animate {
        animation: navBtnListAnim 0.4s ease forwards; /* forwards keeps final state */
    }

    .navBtnList button {
        width: fit-content;
        padding: 1.165rem 1.915rem 1.165rem 1.915rem;
    }

    div .navBtnList {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0rem 0rem 0rem 0rem;
    }

    div .navBtn {
        margin: 0.35rem 0.5rem 0.35rem 0.5rem;
    }

    @keyframes navBtnMenuAnim {
        0% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    #navBtnMenu {
        height: fit-content;
        width: fit-content;
        z-index: 3;
        display: block;
        transition: 0.3s;
    }

    #navBtnMenu.animate svg {
        animation: navBtnMenuAnim 0.4s ease forwards; /* forwards keeps final state */
    }
    
    #projectSection {
        width: auto;
        margin-right: 4rem;
        margin-top: 10rem;
        align-self: self-start;
        height: fit-content;
    }

    #projectText {
        bottom: auto;
        align-self: start;
    }
    
    #projectTitle h2 {
        font-size: 1.85rem;
        min-width: 13rem;
    }

    #projectTitle {
        padding: 1.25rem;
        padding-bottom: 0.75rem;
    }
    
    #projectLines1::after {
        right: 4.5rem;
    }

    @keyframes arrowBounce {
        0% {
            transform: translateY(-5px);
        }
        25% {
            transform: translateY(10px);
        }
        55% {
            transform: translateY(-5px);
        }
        75% {
            transform: translateY(3px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    #projectLines1 svg {
        top: 45vh;
        right: calc(4.5rem - 18px);
    }

    #projectLines1 svg.animate {
        animation: arrowBounce 0.5s ease-in-out forwards; /* forwards keeps final state */
    }

    #projectDescription {
        height: fit-content;
        padding: 1.25rem;
        padding-bottom: 0.5rem;
        border-radius: 0.75rem 0rem 0rem 0rem;
    }

    #projectDescription p {
        margin: 0rem;
        font-size: 0.9rem;
    }

    #projectLines2 {
        width: none;
    }
    
    #projectLines2::after {
        top: 4.4rem;
        right: -70vw;
        width: 30rem;
    }

    #projectLines3 {
        display: none;
    }

    #projectLines4 {
        display: none;
    }

    #projectLines5 {
        display: none;
    }

    #goToProjectBtn {
        margin-top: -1px;
        width: 100%;
        border-radius: 0rem 0rem 0rem 2.25rem;
        text-align: end;
    }

    #projectTags {
        display: none;
    }

    #projectImgSection {
        bottom: auto;
        right: auto;
        width: auto;
    }

    #projectImg {
        margin: 2rem 0rem 2rem 0rem;
        width: 100vw;
        margin-left: -2rem;
        left: 0;
    }

    #otherProjects {
        margin: 2rem 0rem 2rem 0rem;
        position: relative;
        align-self: end;
    }

    .otherProjectBtn:hover { /*since hover is doesn't work well on mobile*/
        color: black;
        background-color: #F7F8F8;
    }

    .otherProjectBtn:active {
        color: white;
        background-color: black;
    }
}

@media (max-aspect-ratio: 3/2) {
    main {
        align-items: center;
    }
    #projectTags {
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        width: 100%;
        text-align: center;
        /*display: none;*/
    }
}